# Tutorial 16 - `pandas_datareader`

The purpose of this short tutorial is to introduce the `pandas_datareader` package. It is a convenient way to download a variety of online data sources such as Yahoo Finance, Quandl, and the Federal Reserve (FRED).

This functionality used to be part of `pandas.io` submodule of `pandas` but now lives inside a separate package.

### Loading Packages

Let's begin by loading the packages that we will need.

In [1]:
import pandas as pd
import pandas_datareader as pdr

### Yahoo Finance

The function for retrieving data from Yahoo is `pdr.get_data_yahoo()`.

The following code retrieves `SPY` data from 2014-2018.

In [2]:
df_spy = pdr.get_data_yahoo('AAPL', start='2019-01-01', end='2019-12-01')
df_spy.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,158.850006,154.229996,154.889999,157.919998,37039700.0,155.582367
2019-01-03,145.720001,142.000000,143.979996,142.190002,91312200.0,140.085220
2019-01-04,148.550003,143.800003,144.529999,148.259995,58607100.0,146.065353
2019-01-07,148.830002,145.899994,148.699997,147.929993,54777800.0,145.740265
2019-01-08,151.820007,148.520004,149.559998,150.750000,41025300.0,148.518509

The following code retrieves VIX data from 2014-2018.

In [3]:
df_vix = pdr.get_data_yahoo('^VIX', start='2014-01-01', end='2019-01-01')
df_vix.head()

             High    Low   Open  Close  Volume  Adj Close
Date
2014-01-02  14.59  14.00  14.32  14.23       0      14.23
2014-01-03  14.22  13.57  14.06  13.76       0      13.76
2014-01-06  14.00  13.22  13.41  13.55       0      13.55
2014-01-07  13.28  12.16  12.38  12.92       0      12.92
2014-01-08  13.24  12.86  13.04  12.87       0      12.87

**Code Challenge:** Grab the 2018 prices for `XLF`.

### Federal Reserve (FRED)

The function for retrieving data from FRED is `pdr.get_data_fred()`.

This code grabs the VXN index (a VIX-like calculation for the Nasdaq 100) for 2014-2018.

In [4]:
df_vxn = pdr.get_data_fred('VXNCLS', start='2019-01-01', end='2019-12-12')
df_vxn

            VXNCLS
DATE
2019-01-01     NaN
2019-01-02   30.09
2019-01-03   32.18
2019-01-04   28.57
2019-01-07   28.53
...            ...
2019-12-06   16.44
2019-12-09   18.15
2019-12-10   18.02
2019-12-11   17.41
2019-12-12   16.55

[248 rows x 1 columns]

### Further Reading

At the moment, there isn't a lot of great documentation about `pandas_datareader`.  

Here is a link to the [offical docs](https://pydata.github.io/pandas-datareader/stable/), which aren't the best.

In [5]:
import os
from datetime import datetime
import pandas_datareader.data as web

In [11]:
os.environ['ALPHAVANTAGE_API_KEY'] = 'MUOT1BPLVAMSCTC9'

In [12]:
from datetime import datetime

In [22]:
f = web.DataReader("NOVN.SW", "av-intraday", start=datetime(2019, 12, 10),
                   end=datetime(2019, 12, 12))

In [23]:
f

                        open     high      low    close  volume
2019-12-11 03:00:00  91.4800  91.4800  91.4800  91.4800       0
2019-12-11 03:01:00  91.4024  91.4886  91.2684  91.3024   14280
2019-12-11 03:02:00  91.3300  91.3300  91.2700  91.3000    1245
2019-12-11 03:03:00  91.3700  91.4600  91.3700  91.4600    5376
2019-12-11 03:04:00  91.4700  91.5100  91.3700  91.3700   15272
...                      ...      ...      ...      ...     ...
2019-12-11 11:15:00  91.4500  91.4700  91.4500  91.4700   11269
2019-12-11 11:16:00  91.4700  91.4800  91.4600  91.4700   27871
2019-12-11 11:17:00  91.4700  91.4700  91.4600  91.4600    9193
2019-12-11 11:18:00  91.4600  91.4800  91.4500  91.4800   19782
2019-12-11 11:19:00  91.4600  91.4800  91.4500  91.4500    5346

[484 rows x 5 columns]

In [19]:
#save dataframe in csv
with open("Novn.csv", "+w") as file:
    f.to_csv(file, index=False, na_rep='NA')

In [20]:
#save dataframe in csv with date and time
with open("Novn_con_index.csv", "+w") as file:
    f.to_csv(file, index=True, na_rep='NA')

In [25]:
#delete multiple coloumn
f = f.drop(["open", "high", "low","volume"], axis=1)

In [26]:
#save dataframe in csv with date and time
with open("Novn_due_colonne.csv", "+w") as file:
    f.to_csv(file, index=True, na_rep='NA')

In [54]:
spx = web.DataReader("SPX", "av-daily", start=datetime(2018, 12, 10),
                   end=datetime(2019, 12, 12))

In [55]:
spx.head()

                 open       high        low      close      volume
2018-12-10  2630.8601  2647.5100  2583.2300  2637.7200  4151030000
2018-12-11  2664.4399  2674.3501  2621.3000  2636.7800  3905870000
2018-12-12  2658.2300  2685.4399  2650.2600  2651.0701  3958890000
2018-12-13  2658.7000  2670.1899  2637.2700  2650.5400  3927720000
2018-12-14  2629.6799  2635.0701  2593.8401  2599.9500  4035020000

In [56]:
spx

                 open       high        low      close      volume
2018-12-10  2630.8601  2647.5100  2583.2300  2637.7200  4151030000
2018-12-11  2664.4399  2674.3501  2621.3000  2636.7800  3905870000
2018-12-12  2658.2300  2685.4399  2650.2600  2651.0701  3958890000
2018-12-13  2658.7000  2670.1899  2637.2700  2650.5400  3927720000
2018-12-14  2629.6799  2635.0701  2593.8401  2599.9500  4035020000
...               ...        ...        ...        ...         ...
2019-12-06  3134.6201  3150.6001  3134.6201  3145.9099  3479480000
2019-12-09  3141.8601  3148.8701  3135.4600  3135.9600  3345990000
2019-12-10  3135.3601  3142.1201  3126.0901  3132.5200  3343790000
2019-12-11  3135.7500  3143.9800  3133.2100  3141.6299  3252540000
2019-12-12  3141.2300  3176.2800  3138.4700  3168.5701  3990690000

[255 rows x 5 columns]

In [61]:
eurusd = web.DataReader("EURUSD", "av-intraday", start=datetime(2019,12,10),
                   end=datetime(2019, 12, 12))

In [62]:
eurusd.head()

                       open    high     low   close  volume
2019-12-10 19:00:00  1.1100  1.1100  1.1100  1.1100       0
2019-12-10 19:01:00  1.1096  1.1096  1.1096  1.1096       0
2019-12-10 19:02:00  1.1096  1.1096  1.1096  1.1096       0
2019-12-10 19:03:00  1.1096  1.1096  1.1096  1.1096       0
2019-12-10 19:04:00  1.1100  1.1100  1.1100  1.1100       0

In [63]:
eurusd

                       open    high     low   close  volume
2019-12-10 19:00:00  1.1100  1.1100  1.1100  1.1100       0
2019-12-10 19:01:00  1.1096  1.1096  1.1096  1.1096       0
2019-12-10 19:02:00  1.1096  1.1096  1.1096  1.1096       0
2019-12-10 19:03:00  1.1096  1.1096  1.1096  1.1096       0
2019-12-10 19:04:00  1.1100  1.1100  1.1100  1.1100       0
...                     ...     ...     ...     ...     ...
2019-12-11 23:55:00  1.1147  1.1147  1.1147  1.1147       0
2019-12-11 23:56:00  1.1150  1.1150  1.1150  1.1150       0
2019-12-11 23:57:00  1.1146  1.1146  1.1146  1.1146       0
2019-12-11 23:58:00  1.1146  1.1146  1.1146  1.1146       0
2019-12-11 23:59:00  1.1146  1.1146  1.1146  1.1146       0

[1709 rows x 5 columns]

In [2]:
import logging

In [3]:
from finam.export import Exporter, Market, LookupComparator

In [13]:
def main():
    exporter = Exporter()
    print('*** Current Russian ruble exchange rates ***')
    rub = exporter.lookup(name='USDRUB_TOD', market=Market.CURRENCIES)
    assert len(rub) == 1
    data = exporter.download(rub.index[0], market=Market.CURRENCIES)
    print(data.tail(1))

    print('*** Current Brent Oil price ***')
    oil = exporter.lookup(name='Brent', market=Market.COMMODITIES,
                          name_comparator=LookupComparator.EQUALS)
    assert len(oil) == 1
    data = exporter.download(oil.index[0], market=Market.COMMODITIES)
    print(data.tail(1))


if __name__ == '__main__':
    logging.basicConfig(level=logging.DEBUG)
    main()

INFO:finam.export:Fetching https://www.finam.ru/profile/moex-akcii/gazprom/export/

*** Current Russian ruble exchange rates ***

INFO:finam.export:Fetching https://www.finam.ru/cache/N72Hgd54/icharts/icharts.js
DEBUG:finam.export:Parsing line starting with "var aEmitentIds = [4"
DEBUG:finam.export:Parsing line starting with "var aEmitentNames = "
DEBUG:finam.export:Parsing line starting with "var aEmitentCodes = "
DEBUG:finam.export:Parsing line starting with "var aEmitentMarkets "
INFO:finam.export:Fetching http://export.finam.ru/table.csv?d=d&f=table&e=.csv&dtf=1&tmf=3&MSOR=0&mstime=on&mstimever=1&sep=3&sep2=1&at=1&p=8&em=182456&market=45&df=1&mf=0&yf=2007&dt=17&mt=11&yt=2019&cn=USD000000TOD&code=USD000000TOD&datf=5
INFO:finam.export:Fetching http://export.finam.ru/table.csv?d=d&f=table&e=.csv&dtf=1&tmf=3&MSOR=0&mstime=on&mstimever=1&sep=3&sep2=1&at=1&p=8&em=19473&market=24&df=1&mf=0&yf=2007&dt=17&mt=11&yt=2019&cn=BZ&code=BZ&datf=5

            <OPEN>  <HIGH>    <LOW>  <CLOSE>      <VOL>
index
2019-12-17    62.6   62.74  62.4575  62.5125  643329000
*** Current Brent Oil price ***
            <OPEN>  <HIGH>  <LOW>  <CLOSE>   <VOL>
index
2019-12-17   65.31   66.24  65.12    66.13  121664

In [15]:
print(data.tail(1))

NameError: name 'data' is not defined